

body {
  background-color: rgb(193, 208, 212);
  grid-area: header;
}

h1 {
  text-align: center;
}

main {
  background-color: rgba(233, 215, 229, 0.185);
  min-height: calc(100vh - 54px);
  grid-area: main;
}
nav {
  margin-top: 5em;
  background-color: rgba(52, 129, 71, 0);
  grid-area: nav;
}
aside {
  background-color: rgb(135, 173, 135);
  grid-area: aside;
}
.banner {
  background-color: lavender;
  grid-area: banner;
}


footer {
  background-color: khaki;
  grid-area: footer;
}
#list_section {
  text-align: center;
  }
  
  #list_section h3 {
  color: white;
  margin: 0px auto;
  padding: 20px;
  }
  
  #list_section ul  {
  padding: 0;
  }
  
  #list_section li {
  background-color: #FFF;
  color: #000;
  font-size: 20px;
  list-style-type: none;
  width: 20%;
  margin: 0px auto;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  }
  
  #list_section p {
  background-color: #FFF;
  color: #666;
  padding: 10px;
  display: inline-block;
  margin: 20px auto 20px auto;
  width: 80%;
  border-radius: 5px;
  text-align: center;
  }
  
  
  .list1 .item {
  background-color: #FFF;
  color: #000;
  }
  
  #list_section input[type='text'] {
  font-size: 12px;
  padding: 6px;
  border: 1px solid #000;
  border-radius: 3px;
  }
  
  #list_section input[type='submit'] {
  background-color: #FFF;
  color: #000;
  border-radius: 8px;
  border: none;
  padding: 5px;
  }
  
  #newItemButton {
  display: none;
  }
  
  #itemField {
  margin-top: 60px;
  width: 10%;
}

.calendar {
  
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 30;
   /* flex-wrap: wrap;
    flex-direction: row;
    background-color: #fff;
    color: #444;
    grid-gap: 2px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 9rem;
    margin: 0 auto;
    
    border: 1px solid #0000;
    background: lightgray;
    */
  }

/*.calendar {
  display: grid;
  grid-template-rows: repeat();
  
}*/

  

.banner {
  display: grid;
  grid-template-columns: 33% 50% 17%;
  grid-template-rows: 50% 50%
}




.container {
  display: grid;
  grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "banner"
    "footer";
}

@media (min-width: 320px) {
  .container {
    grid-template-columns:1fr 3fr;
    grid-template-areas:
    "header  header"
    "nav     nav"
    "aside   main"
    "banner"
    "footer"
  }
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "header  header"
      "nav     nav"
      "aside   main"
      "banner  footer";
  }
  nav ul {
    display: grid;
    justify-items: self-start;
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
      "header header  header"
      "nav    main    aside"
      "nav    main    banner"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}

body {
    margin: 15x;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color:#4444;
    color: #1111;
  }

  .wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 9rem;
    margin: 0 auto;
    border: 1px solid #0000;
    background: lightgray;
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
