

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./lava-flow.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
  }
  
  .logo {
    width: 25%;
    height: 80%;
    margin: 3% 10%;
    border-radius: 60%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid white;
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid red;
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  }
  
  h2 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
  }

  @media (max-width: 576px) {

  }
  
  /* Medium and up (Tablets) */
  @media (max-width: 768px) {
  
    .has-border {
      padding: 10px;
      width: 150%;
  }

  }
  
  /* Large and up (Desktops) */
  @media (max-width: 992px) {
    button {
      font-size: 15px;
      padding: 10%; 
    } 
  
  }
  
  /* Extra Large and up (Wide Screen Desktops) */
  