* {
    border: 3px solid red;
}

section {
    display: flex;
    margin-left: 10px;
    flex-grow: 10em;
    
    
}

#facebook {
    margin-right: 2em;
    margin-left: 1em;
    
}


/*header { 
    background-color: blue;
    max-width: 740px;
  margin: 0 auto;
  display: flex;
}*/

main {
    grid-template-rows: 30em 30em 30em;
    padding-top: 30px;
    display: grid;
}

#box1 {
    border: 2px solid yellow;
    background-color: bisque;
}