.container {
    display: flex;
    justify-content: space-evenly;
    
   /* background-image: url("../src/img/sandwich-311262_960_720.png");
    background-size: 5em;
    background-color: transparent;
    background-color: rgba(255, 0, 0, 0.4);
    */
}

.container > div {
    padding: 8px;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffeead;
    flex: 1;
}

#facebook {
    
    padding-left: 1em;
    background-color: transparent;
    background-color:  blueviolet;
}

#instagram {
    
    background-color: transparent;
    background-color: #AFEEEE;
    
    
}

#aboutMe {
    
    border: 5px solid #454545;

    
}

main {
    display: grid;
    grid-template-rows: 50em 30em;
    border: 3px solid red;
    background-color: aqua;
}

h3{ 
    text-align: center;
    background-color: blue;
}

article {
   /* display: grid;
    grid-template-columns: 1fr;
    */
    justify-content: space-evenly;
    
    
    max-width: 300px;
    min-height: 400px;
    background-color: white;
    border: 5px solid black;

}



/*.new {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 50em;
    margin-top: 1em;
}*/

p{
    text-align: center;
}
#box1 {
    border: 2px solid orange;
   background-color: #00FF00;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
}

.welcome {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}