* {
    margin-left: 0;
    margin-right: 0;
}

#game-board {
    
    
    width: 300px;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: calc(50vw - 150px);
    text-align: center;
    
}



.piece-block {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#commands {
    margin-top: 50px;
    width: 300px;
    height: 1500px;
    max-height: 150px;
    min-height: 150px;
    margin-left: calc(50vw -150px);
    text-align: center;

}   

#btnX {
    border: 3px solid yellow;
}

#btnY {
    border: 3px solid green;
}